<html>

  <!--Only textbox-->
  <input type="text">
  <br/><br/>

  <!--Text box with attribute-->
  <input type="text" value="Marvellous">
  <br/><br/>
  
  <!--Hardcoded attribute-->
  <input type="text" id = "1" value="Marvellous">
  <br/><br/>
  
  <!-- Text box with attribute and property binding-->
  <input type="text" [id] = "MarvellousID" value="Marvellous">
  <br/><br/>
  
  <!-- Property binding as string interpolation-->
  <!-- String interpolation only works with string attributes-->
  <input type="text" id = "{{MarvellousID}}" value="Marvellous">
  <br/><br/>

  <!--Text box with disabled attribute -->
  <input type="text" disabled = "true" value="Marvellous">
  <br/><br/>

  <!--Text box with disabled attribute with property binding-->
  <input type="text" [disabled] = "IsSet" value="Marvellous">
  <br/><br/>

  <!-- using bind- tag we can also set the property-->
  <input type="text" bind-id = "MarvellousID" value="Marvellous">
  <br/><br/>
  </html>