<h2>Press button to generate event</h2>
<button (click)="MarvellousEvent()">Marvellos</button>
<br/><br/>

<button (click)="MarvellousNewEvent()">Infosystems</button>
<br/><br/>
<h1>{{str}}</h1>
<br/><br/>
<!-- By using $event we can fetch information about the event-->
<button (click)="MarvellousEventInfo($event)">EventInformation</button>